<!DOCTYPE html>
<html lang=ja>
<head>
</head>
<body>
<div class="header">
  <a href="#default" class="logo">URLManager</a>
  <div class="header-right">
    <a class="active" href="/users">Index</a>
    <a href="/sign_in">SignIn</a>
    <a href="/sign_up">SignUp</a>
  </div>
</div>
{{ .name }} 
</body>
</html>