{{ define "title" }}
<title>Login</title>
{{ end }}

{{ define "content" }}
<h1>Login</h1>
<div class="container-sm p-3">
  <form action="/auth/login" method="post">
    <div class="row m-3">
      <div class="col-lg-1">
        <lable>LoginID</label>
      </div>
      <div class="col-lg-3">
        <input type="text" name="loginId" />
      </div>
    </div>
    <div class="row m-3">
      <div class="col-lg-1">
        <lable>Password</label>
      </div>
      <div class="col-lg-3">
        <input type="password" name="password"/>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-lg-4 text-center">
        <input class="btn btn-primary" type="submit" value="send">
      </div>
    </div>
  </form>
  <div>
    <p>Please <a href="/auth/sign_up">sign in</a> if you are not already signed in.</p>
  </div>
</div>
{{ end }}
