{{ define "urls/new.html" }}
{{ template "top" . }}
<h1>Edit URL</h1>
<hr>

<div class="update_url">
    <label>Title</label>
    <input type="text" placeholder="タイトル" id="title"><br>
    <label>Url</label>
    <input type="text" id="url" placeholder="sample.com/page1" ><br>
    <label>Description</label>
    <textarea id="description" placeholder="概要" rows="3" cols="60"></textarea>
    <label>Note</label>
    <textarea id="note" placeholder="何かメモしたい時に使ってちょ" rows="3" cols="60"></textarea>
    <button>更新</button>
</div>


{{ template "bottom" }}
{{ end }}