{{ define "urls/new.html" }}
{{ template "top" }}
<h1>New URL</h1>
<hr>

<form name="new_url" action="/users/{{ .id }}/urls/" method="POST">
    <label>Title</label>
    <input type="text" placeholder="タイトル" name="title"><br>
    <label>Url</label>
    <input type="text" name="url" placeholder="sample.com/page1" ><br>
    <label>Description</label>
    <textarea name="description" placeholder="概要" rows="3" cols="60"></textarea>
    <label>Note</label>
    <textarea name="note" placeholder="何かメモしたい時に使ってちょ" rows="3" cols="60"></textarea>
    <input type="submit">
</form>


{{ template "bottom" }}
{{ end }}