{{ define "title" }}
<title>Edit</title>
{{ end }}

{{ define "content" }}
<div class="container">
<h1>Edit Link</h1>
<div class="container">
  <form action="/users/{{ .LoginId }}/links/{{ .LinkId }}" method="post">
    <div class="row">
      <label>Title</label>
      <input type="text" name="title"/>
      <label>URL</label>
      <input type="url" name="url" />
      <label>description</label>
      <input type="text" name="description" />
      <div class="m-3"><input type="submit" value="send" /></div>
    </div>
  </form>
</div>
<table>
</table>
</div>
{{ end }}
