a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

body {
    background-color: #4D4D4D;
    height: 100vh;
}

.root-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #4D4D4D;
    color: white;
}

.main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.sidebar-wrapper {
    min-width: 300px;
    align-self: stretch;
    overflow: scroll;

    padding: 10px;
    border-right: 2px solid #333333;
}

.content-wrapper {
    flex: auto;
    align-self: stretch;
    overflow: scroll;
    padding-top: 15px;
    padding-left: 15px;
}

.add-button-wrapper {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background: gray;
    border-radius: 50%;
    text-align: center;
}

.add-button-wrapper button {
    background: transparent;
    border: transparent;
    color: white;
    /* width: 100px;
    height: 100px;
    background: #ffa500;
    border-radius: 50%;
    */
}

.add-button-wrapper button:active {
    background: transparent;
    border: transparent;
    color: rgba(188, 182, 182, 0.334)
}

.modal-form {
    color: black;
    border-radius: 10px;
}

.modal-form.show {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: white;
}

.modal-form.hide {
    display: none;
}

.form-wrapper {
    margin-top: 140px;
    margin-left: 90px;
}

.modal-close {
    background: transparent;
    border: transparent;
}

.modal-form label {
    width: 100px;
    float: left;
}

.form-item {
    float: left;
    margin-bottom: 15px;
}

.form-item.submit {
    margin-left: 110px;
}