a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

body {
    background-color: #4D4D4D;
    height: 100vh;
}

.root-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #4D4D4D;
    color: white;
}

.main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.sidebar-wrapper {
    min-width: 300px;
    align-self: stretch;
    overflow: scroll;

    padding: 10px;
    border-right: 2px solid #333333;
}

.sidebar-header {
    display: flex;
}

.sidebar-header h2 {
    flex: 2 2;
}

.add-dir i {
    padding: 5px;
    background-color: gray;
    border-radius: 8px;
    margin: 3px;
}

.remove-dir i {
    padding: 5px;
    background-color: gray;
    border-radius: 8px;
    margin: 3px;
}

.content-wrapper {
    flex: auto;
    align-self: stretch;
    overflow: scroll;
    padding-top: 15px;
    padding-left: 15px;
}

.add-button-wrapper {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background: gray;
    border-radius: 50%;
    text-align: center;
}

.add-button-wrapper button {
    background: transparent;
    border: transparent;
    color: white;
    /* width: 100px;
    height: 100px;
    background: #ffa500;
    border-radius: 50%;
    */
}

.add-button-wrapper button:active {
    background: transparent;
    border: transparent;
    color: rgba(188, 182, 182, 0.334)
}

.modal-form {
    color: black;
    border-radius: 10px;
}

.modal-form.show {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: white;
}

.modal-form.hide {
    display: none;
}

.form-wrapper {
    margin-top: 140px;
    margin-left: 90px;
}

.modal-close {
    background: transparent;
    border: transparent;
}

.modal-form label {
    width: 100px;
    float: left;
}

.form-item {
    float: left;
    margin-bottom: 15px;
}

.form-item.submit {
    margin-left: 110px;
}

.fault-message {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 70px;
    height: 60px;
}

.fault-message.show {
    display: block;
}

.fault-message.hide {
    display: none;
}

.login-reminder {
    text-align: center;
    position: absolute;
    inset: 0;
    height: 70px;
    width: 300px;
    margin: auto;
    font-size: 50px;
}

.link-panel {
    margin: 15px;
    padding: 5px;
    background-color: #2d2d2d;
    border-radius: 5px;
    width: 80%;
    height: 60px;
}

.panel-buttons {
    float: right;
}

.panel-item {
    display: inline-block;
    padding: 5px;
}

.delete-confirm-modal {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: none;
}

.delete-confirm-text {
    margin-top: 10px;
    color: black;
    opacity: 0.5;
    text-align: center;
    font-size: 30px;
    height: 50px;
    margin: 20px;
}

.delete-cancel {
    text-align: center;
    flex: 1 1;
    color: white;
    background-color: gray;
    opacity: 0.5;
    align-self: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
}

.delete-cancel:hover {
    opacity: 1;
}

.delete-execute {
    text-align: center;
    flex: 1 1;
    color: white;
    background-color: #FF2400;
    opacity: 0.5;
    align-self: center;
    padding: 10px;
    border-bottom-right-radius: 10px;
}

.delete-execute:hover {
    opacity: 1;
}

.delete-target {
    color: black;
    opacity: 0.5;
    text-align: center;
    margin: 30px;
}

.delete-button-wrapper {
    display: flex;
    height: 50px;
}

.detail {
    display: none;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

detail.clicked {
    color: black;
}

.edit {
    display: none;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
}

.sidebar-item-title {
    float: right;
    width: 95%;
}

.active {
    background-color: dimgray;
    border-radius: 5px;
    opacity: 0.8;
}