{{ define "sidebar.tmpl" }}
<h2><a href="/home">Home</a></h2>
{{ template "menu" . }}
{{ end }}

{{ define "menu"}}
{{range $index, $link := .data}}
<div>
<i class="toggle-icon fa-solid fa-angle-down"></i>
<span class="title">{{ $link.Title }}<span>
</div>
{{end}}
{{ end }}