{{ define "top" }}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Url Plumber</title>
    <meta charset="UTF-8">
    <link rel="icon" href="http://localhost:8000/favicon.ico">
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
    {{ template "header" . }}
    {{ end }}


    {{ define "bottom" }}
    {{ template "footer" }}
</body>

</html>
{{ end }}