<!DOCTYPE html>
<html lang=ja>
<head>
</head>
<body>
<h1>Let's Sing Up</h1>

<form name="User" action="/users" method="POST">
    <label>名前</label>
    <input name="Name" type="text">
    <label>email</label>
    <input name="Email" type="email">
    <label>パスワード</label>
    <input name="Password" type="password">
    <input value="送信" type="submit">
</form>

</body>

</html>